body {
    background: rgb(74, 68, 190);
    font-family: Roboto;
    font-size: 98%;
}
.title {
    color: white;
    text-align: center;  
    height: 8.65em;
}
#logo {
    text-align: center;
}
.quote-container {
    background-color: #C4C4C4;
    text-align: center;
    font-size: 110%;
}
.person-container, .birthdate-container, .dieddate-container {
    background-color: #C4C4C4;
    text-align: center;
    font-size: 110%;
    margin-top: 0%;
}
#mystery-button, #generate-button, .game-button, #reset-button, #back-button, #start-game-button, #possible-answer, #submit-button, #results-button{
    margin-top: 1%;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.outer-container {
    text-align: center;
}
#img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 500px;
    height: auto;
}
#show-clicked {
    color: white;
}
#person10, #person20 {
    color: white;
    font-size: 120%;
}
#correct, #false, #question {
    color: white;
    font-size: 110%;
}
#totalQuotes {
    color: white;
}
#show-results {
    color: white;
    font-size: 110%;
    visibility: hidden;
}